.Content{
    background-color:  #fffef9;
    height: 100%;
}

.container{
    width: 100%;
    height: 900px;
    
}

.container .row1{
    height: 330px;
    padding-top: 50px;
    display: block;
    display: flex;
}

.container .row .col-6 span{
    font-family: "Pacifico";
    font-size: 32px;
    text-align: center; 
    font-weight: bold;    
}


.container .row .col-6 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 30px;
    color: black;
    margin: 0 ;
    margin-top: auto;
    margin-bottom: auto;
}



.container .row1 .col12{
    height: 330px;
    width: 100%;
}

.container .row2{
    padding-top: 100px;
    height: 330px;
    display: block;
    display: flex;
}



.container .row2 .col21{
    height: 330px;
    width: 100%;
}

.container .row2 .col22{
    padding-left: 30px;
}

.introduction{
    width: 1200px;
    height: 10%;
    text-align: center;
    margin: auto;
}

.container .row3{  
    padding-top: 100px;
    height: 330px; 
    display: block;
    display: flex;
}

/* .container .row3 .col31{
    font-family: "Pacifico";
    font-size: 32px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
} */

.container .row3 .col32{
    height: 330px;
    width: 100%;
}

.container .row3 .col32 img{
    margin-left: 10px;
}

.container .row4{
    height: 330px;
    display: block;
    display: flex;
    padding-top: 50px;
}


.container .row4 .col41{
    height: 330px;
    width: 100%;
}

.container .row4 .col42{
    padding-left: 30px;
}



